<template>
    <div class="datepicker">
        <div class="label-wrapper">
            <label class="label">{{label}}</label>
        </div>
        <div class="picker-btn" @click="toggleVisible">
            <div>
                <div v-if="selectedDate !== -1" class="picker-btn-text">{{`${selectedDate} ${months[month].name2} ${year}`}}</div>
            </div>
            <img src="../assets/icon.svg" alt="icon">
        </div>
        <table class="calendar" v-if="calendarVisible">
            <tr>
                <th class="calendar-header-wrapper" colspan="7">
                    <div class="calendar-header">
                        <div class="calendar-header-select-wrapper">
                            <span class="calendar-header-select-caption">Месяц</span>
                            <select v-model="selectedMonth" class="calendar-header-select">
                                <option v-for="month in months" v-bind:key="`select-month-${month.id}`" v-bind:value="month.id">{{month.name}}</option>
                            </select>
                        </div>
                        <div class="calendar-header-select-wrapper">
                            <span class="calendar-header-select-caption">Год</span>
                            <select v-model="selectedYear" class="calendar-header-select">
                                <option v-for="year in years" v-bind:key="`select-year-${year}`" v-bind:value="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                </th>
            </tr>
            <tr class="calendar-headline">
                <th v-for="day in days" v-bind:key="`head-${day}`" class="calendar-headline-item">{{day}}</th>
            </tr>
            <tr v-for="week in weeksCount" v-bind:key="`week-${week}`" class="calendar-row">
                <td
                    v-for="day in 7"
                    v-bind:key="`day-${day}`"
                    class="calendar-item"
                >
                    <div
                        v-if="isCurrentMonth(week, day)"
                        @click="chose(getData(week, day))"
                        class="calendar-item-wrapper"
                    >
                        <span v-if="isToday(week, day)" class="calendar-item-today">
                            {{getData(week, day)}}
                        </span>
                        <span v-else class="calendar-item-bright">
                            {{getData(week, day)}}
                        </span>
                    </div>
                    <span v-else-if="isNextMonth(week, day)" class="calendar-item-dim">{{getData(week, day) - daysInMonth}}</span>
                    <span v-else-if="isPreviousMonth(week, day)" class="calendar-item-dim">{{daysInPreviousMonth + getData(week, day)}}</span>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    // Date.prototype.daysInMonth = function() {
    //     return 33 - new Date(this.getFullYear(), this.getMonth(), 33).getDate();
    // };
    export default {
        name: "datepicker",
        props: {
            fromYear: Number,
            toYear: Number,
            label: String,
            birthday: String,
        },
        data() {
            return {
                today: Date.now(),
                dateContext: Date.now(),
                days: ['ПН','ВТ','СР','ЧТ','ПТ','СБ','ВС'],
                months: [
                    {
                        id: 0,
                        name: 'Январь',
                        name2: 'Января',
                    },
                    {
                        id: 1,
                        name: 'Февраль',
                        name2: 'Февраля',
                    },
                    {
                        id: 2,
                        name: 'Март',
                        name2: 'Марта',
                    },
                    {
                        id: 3,
                        name: 'Апрель',
                        name2: 'Апреля',
                    },
                    {
                        id: 4,
                        name: 'Май',
                        name2: 'Мая',
                    },
                    {
                        id: 5,
                        name: 'Июнь',
                        name2: 'Июня',
                    },
                    {
                        id: 6,
                        name: 'Июля',
                        name2: 'Июля',
                    },
                    {
                        id: 7,
                        name: 'Август',
                        name2: 'Августа',
                    },
                    {
                        id: 8,
                        name: 'Сентябрь',
                        name2: 'Сентября',
                    },{
                        id: 9,
                        name: 'Октябрь',
                        name2: 'Октября',
                    },
                    {
                        id: 10,
                        name: 'Ноябрь',
                        name2: 'Ноября',
                    },
                    {
                        id: 11,
                        name: 'Декабрь',
                        name2: 'Декабоя',
                    },
                ],
                initialFromYear: 2019,
                initialToYear: 1900,
                selectedMonth: -1,
                selectedYear: -1,
                selectedDate: -1,
                calendarVisible: false,
            }
        },
        computed: {
            initialDate: function() {
                let t = this;
                return new Date(t.today).getDate();
            },
            initialYear: function() {
                let t = this;
                return new Date(t.today).getFullYear();
            },
            initialMonth: function() {
                let t = this;
                return new Date(t.today).getMonth();
            },
            year: function() {
                let t = this;
                t.selectedYear = t.selectedYear === -1 ? new Date(t.dateContext).getFullYear() : t.selectedYear;
                return t.selectedYear;
            },
            month: function() {
                let t = this;
                t.selectedMonth = t.selectedMonth === -1 ? new Date(t.dateContext).getMonth() : t.selectedMonth;
                t.dateContext = new Date(t.year, t.selectedMonth);
                return t.selectedMonth;
            },
            daysInMonth: function() {
                let t = this;
                const date = new Date(t.dateContext);
                const year = date.getFullYear();
                const month = date.getMonth();
                return 33 - new Date(year, month, 33).getDate();
            },
            daysInPreviousMonth: function() {
                let t = this;
                const date = new Date(t.year, (new Date(t.dateContext).getMonth() - 1));
                const year = date.getFullYear();
                const month = date.getMonth();
                return 33 - new Date(year, month, 33).getDate();
            },
            currentDate: function() {
                let t = this;
                return new Date(t.dateContext).getDate();
            },
            firstDayOfMonth: function() {
                let t = this;
                return new Date(t.year, t.month).getDay();
            },
            years: function() {
                let result = [];
                let t = this;
                for (let i = (t.fromYear|| t.initialFromYear); i >= (t.toYear || t.initialToYear); i--) {
                    result.push(i);
                }
                return result;
            },
            weeksCount: function() {
                let t = this;
                return Math.ceil((t.daysInMonth + (t.firstDayOfMonth ? t.firstDayOfMonth - 1 : 7)) / 7)
            },
        },
        methods: {
            chose: function(item) {
                this.selectedDate = item;
                this.$emit('input', Date.parse(new Date(this.year, this.month, item)));
                this.calendarVisible = !this.calendarVisible;
            },
            getData: function(week, day) {
                return ((week - 1) * 7) + day - (this.firstDayOfMonth ? this.firstDayOfMonth : 7) + 1
            },
            toggleVisible: function () {
                this.calendarVisible = !this.calendarVisible;
            },
            isCurrentMonth: function(week, day) {
                let t = this;
                return (t.getData(week, day)) > 0 && (t.getData(week, day)) <= t.daysInMonth
            },
            isPreviousMonth: function(week, day) {
                let t = this;
                return (t.getData(week, day)) <= 0
            },
            isNextMonth: function(week, day) {
                let t = this;
                return (t.getData(week, day)) > t.daysInMonth;
            },
            isToday: function(week, day) {
                let t = this;
                return t.getData(week,day) === t.initialDate
            },
        }
    }
</script>

<style scoped>
    .datepicker {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .label-wrapper {
        width: 260px;
        text-align: left;
    }

    .label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
    }

    .picker-btn {
        width: 260px;
        height: 40px;
        border: 1px solid #7BA3CD;
        box-sizing: border-box;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 16px;
        outline: none;
        margin-top: 10px;
    }

    .picker-btn-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: black;
        flex-grow: 1;
        min-width: 100px;
    }
    .calendar {
        width: 308px;
        height: 303px;
        background: #FFFFFF;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.101817);
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 48px;
    }

    .calendar-header {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #DAE3EC;
    }

    .calendar-header > :first-child {
        border-right: 1px solid #DAE3EC;
    }

    .calendar-header-select-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        height: 100%;
        padding-left: 13px;
    }

    .calendar-header-select {
        border: none;
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        margin-left: -4px;
        outline: none;
    }

    .calendar-header-select-caption {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 12px;
        text-transform: uppercase;
        color: #93A2B3;
        text-align: left;
    }

    .calendar-headline-item {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 12px;
        text-transform: uppercase;
        color: #93A2B3;
        border-left: 1px solid #DAE3EC;
        border-bottom: 1px solid #DAE3EC;
    }

    .calendar-headline {
        padding-left: 10px;
        padding-right: 10px;
    }

    .calendar-headline > :first-child, .calendar-row > :first-child {
        border-left: none;
    }

    table {
        border-spacing: 0;
    }

    .calendar-item-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calendar-item {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: black;
        border-left: 1px solid #DAE3EC;
        border-bottom: 1px solid #DAE3EC;
        padding: 0;
    }

    .calendar-item-dim {
        color: #B8B7B7;
        mix-blend-mode: normal;
        opacity: 0.9;
    }

    .calendar-item-today {
        height: 100%;
        width: 100%;
        background-color: #DAE3EC;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar-item:active, .calendar-item-today:active {
        background: #7BA3CD;
        color: #FFFFFF;
    }

    .calendar > :last-child > * {
        border-bottom: none;
    }
</style>