<template>
  <div class="hello">
    <div class="parent">Дата из datepicker: {{birthday}}</div>
    <datepicker label="Дата рождения" v-model="birthday" :from-year="2019" :to-year="1900" />
<!--    <TestComponent mes="ggg Test message(mes)" btnText="btn2" />-->
  </div>
</template>

<script>
  import datepicker  from "./Datepicker";
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
        birthday: ''
    }
  },
  components: {
    datepicker
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

  .parent {
    width: 600px;
    text-align: left;
  }
</style>
